<%- include('partials/header') %>

<!-- Main Content -->
<main class="container py-4">
  <div class="container my-5">
    <h1 class="text-center mb-4">Ask a Question</h1>
    <form action="/askquestion" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <% if (error) { %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <label for="questionTitle">Question Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          placeholder="Enter a title for your question"
        />
      </div>
      <div class="form-group">
        <label for="questionTitle">Question Tags</label>
        <input
          type="text"
          class="form-control"
          id="tags"
          name="tags"
          placeholder="Enter a tag for your question.#engineering#maths#trignometry"
        />
      </div>
      <div class="form-group">
        <label for="questionDesc">Question Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="5"
          placeholder="Enter a description for your question"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="questionImage">Question Image</label>
        <input type="file" class="form-control-file" id="image" name="image" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</main>

<%- include('partials/footer') %>
